@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* this is a universal selector */
* {
    margin: 0;
    padding: 0;
}

/* this is a body selector */
body {
    background-color: #f0f0f0;
    overflow-x: hidden;
}

/* this is a header selector and navbar */
.navbar {
    display: flex;
    align-items: center;
}

/* navlinks  */
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    list-style: none;
     font-family: "Playfair Display", serif;
}

.nav-links li:hover{
    background-color: black;
    color: red;
    width: 60px;
    height: 30px;
    border-radius: 10px;
}

.nav-links li a:hover{
    color: red;
    text-align: center;
    text-decoration: underline;
    padding: 6px;
}

/* in navlinks anchor tag */
.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* dropdown selector */
.dropdown-menu {
    height: 400px;
}

/* doropdown item  */
.dropdown-item {
    margin-top: 20px;
}

.color{
    color: white;
}

/* this is a home page selector */
#home {
    width: 100%;
    height: 100vh;
    background-image: url("/assest/image/Red\ &\ Black\ Fitness\ YouTube\ Thumbnail.png");
}

/* this is the main logo  */
.logo {
    width: 100px;
    margin: 10px;
    border-radius: 50px;
}

/* first heading  */
.first-heading {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    border-left: 4px solid red;
    padding-left: 20px;
}


/* first paragraph selector */
.first-para {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-left: 4px solid red;
    padding-left: 20px;
}

/* hero class selector */
.hero {
    width: 550px;
    height: 500px;
    margin-left: 130px;
    margin-top: 20px;

}

/* join us button selector */
.join-btn {
    background-color: black;
    color: white;
    padding: 20px 40px;
    border-radius: 30px;
    font-weight: 400;
    margin: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 20px;
    animation: shake 1.5s infinite;
}

/* key farem for btn  */
@keyframes shake {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-8px);
    }

    80% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}

/* join us btn hover effect */
.join-btn:hover {
    background-color: red;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

/* faq accordion is start from here */


#faqs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;

}

.main-faqs {
    width: 100%;
    padding: 20px;
}

.faqs-heading {
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
}

.faq-para {
    font-family: "Playfair Display", serif;
}

.bar {
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgb(219, 218, 218), -2px -2px rgb(223, 220, 220);
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    background: whitesmoke;

}

.question {
    font-size: 16px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.answer {
    display: none;
    padding: 20px;
    border-radius: 12px;
    box-shadow: inset 2px 2px 5px rgb(223, 220, 220), -2px -2px rgb(219, 218, 218);
    font-family: "Playfair Display", serif;
}

/* site map started from here  */

.sitemap {
    /* background-color: #111; */
    /* color: white; */
    padding: 20px;
    background-image: url("/assest/image/Purple\ Abstract\ Graphic\ Design\ LinkedIn\ Article\ Cover\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.site-heading {
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    color: white;
    position: relative;
    left: 150px;
    top: 13px;
}

.site-para {
    font-family: "Playfair Display", serif;
    position: relative;
    left: 150px;
    color: white;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
}

.main-sectionlink {
    list-style: none;
}

.section-heading {
    font-family: "Bebas Neue", sans-serif;
}

.main-sectionlink li {
    padding-top: 10px;
}

.main-sectionlink li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    padding: 10px;
}

.main-sectionlink li a:hover {
    text-decoration: underline;
    color: red;
}

.activities {
    list-style: none;
}

.activities li {
    padding-top: 10px;
}

.activities li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    padding: 10px;
}

.activities li a:hover {
    text-decoration: underline;
    color: red;
}

.information {
    list-style: none;
    position: relative;
    bottom: 32px;
}

.information li {
    padding-top: 10px;
}

.information li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    padding: 10px;
}

.information li a:hover {
    text-decoration: underline;
    color: red;
}

.details {
    width: 700px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    color: white;
}

.personal-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.icons {
    position: relative;
    bottom: 10px;
}
.footer-para{
    width: 100%;
    height: 40px;
    background-color: #26053c;
    text-align: center;
    color: white;
}
.gallery-header {
    background-image: url("/E-Project-1/assest/image/gallery-bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    padding-top: 80px;
    font-size: 25px;
    color: white;
}
.gallery-container{
    margin-top: 100px;
}
.galleryimg{
    width: 410px;
    border-radius: 15px;
}
